%h1 Join #{@invitation.group.name}
%p Hello #{@invitation.invitee_name},
%p You have been invited to join #{@invitation.group.name}.  Please click on this link to join.
= link_to "Join Group", root_url + "/" + accept_group_invitation_path(@invitation.group_id,@invitation.id) ,:class => "btn"

