%h1 Chore Reminder
%p Hello #{@upcoming_assigned_chore.username},
%br
%p Your chore #{@upcoming_assigned_chore.name} for #{@upcoming_assigned_chore.group_name} is due tomorrow.  Don't forget to get it done!

= link_to @upcoming_assigned_chore.status, complete_group_assigned_chore_path(@upcoming_assigned_chore.group_id,@upcoming_assigned_chore.id), "data-method" => "post", "data-confirm" => 'Are you sure?', :class => 'btn btn-mini btn-danger'