- if @group.errors.any?
  .alert{:style => 'font-weight:bold;'}
    = pluralize(@group.errors.count, "error")
    prohibited this task from being saved:
    .ul
      - @group.errors.full_messages.each do |msg|
        .li
          = msg
= form_for @group, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label :time_zone, :class => 'control-label'
    .controls
      = f.time_zone_select :time_zone, nil, :default => cookies["time_zone"]
  .control-group
    = f.label :chore_period_length_days, :class => 'control-label'
    .controls
      = f.number_field :chore_period_length_days, :class => 'number_field'
  .control-group
    = f.label :chore_start_date, :class => 'control-label' 
    .controls
      = text_field_tag "group[chore_start_date]", @group.chore_start_date.try(:strftime, '%m/%d/%Y'), :class => "datepicker", :default => Date.today
  .control-group
    = f.label "Penalty", :class => 'control-label'
    .controls
      %label.checkbox
        = f.check_box :facebook_penalty, :class => 'check_box parent'
        Social Media Post
      .child{:class => ("hide" unless @group.facebook_penalty)}
        .control-group
          = f.label :facebook_penalty_msg, "Message", :class => 'control-label'
          .controls
            = f.text_area :facebook_penalty_msg, :class => 'text_area span6', :rows => 5    
      %label.checkbox
        = f.check_box :email_penalty, :class => 'check_box parent'
        Mass Email
      .child{:class => ("hide" unless @group.email_penalty)}
        .control-group
          = f.label :email_penalty_address, "Group Email Address", :class => 'control-label'
          .controls
            = f.text_field :email_penalty_address, :class => 'text_field'
        .control-group
          = f.label :email_penalty_msg, "Message", :class => 'control-label'
          .controls
            = f.text_area :email_penalty_msg, :class => 'text_area span6', :rows => 5    
      %label.checkbox
        = f.check_box :monetary_penalty, :class => 'check_box parent'
        Money Due
      .child{:class => ("hide" unless @group.monetary_penalty)}
        .control-group
          = f.label :monetary_penalty_value, "Amount", :class => 'control-label'
          .controls
            .input-prepend
              %span.add-on $
              = f.text_field :monetary_penalty_value, :class => 'text_field'    
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to "Cancel", :back, :class => 'btn'
      
      
      
      
