= render :partial => 'layouts/alerts'
.page-header
  %h1
    #{@group.name}
    %small
      Settings
%ul.nav.nav-tabs.remember-tab
  %li.active
    = link_to "Members", "#members", {"data-toggle" => "tab"}
  %li
    = link_to "Chores", "#chores", {"data-toggle" => "tab"}
  %li
    = link_to "Group Info", "#info", {"data-toggle" => "tab"}
.tab-content
  .tab-pane.active#members
    %table.table.table-striped.table-bordered
      %h3 Group Members
      %thead
        %tr
          %th Photo
          %th Username
          %th Actions
      %tbody
        - @group.users.each do |user|
          %tr
            %td 
            %td 
              = user.username
            %td
              = link_to "Remove", remove_user_from_group_group_path(@group, :user_id => user.id), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger'
    = link_to "Invite a Friend", new_group_invitation_path(@group), :class => "btn btn-primary modalCandidate"
  .tab-pane#chores
    %table.table.table-striped.table-bordered
      %h3 Chores
      %thead
        %tr
          %th Name
          %th Description
          %th Actions
      %tbody
        - @group.chores.each do |chore|
          %tr
            %td 
              = chore.name
            %td 
              = chore.description
            %td
              = link_to "Edit Chore", edit_group_chore_path(@group, chore), :class => 'btn btn-mini modalCandidate'
              = link_to "Remove", group_chore_path(@group, chore), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger ajaxCandidate'
    = link_to "Add a Chore", new_group_chore_path(@group), :class => "btn btn-primary modalCandidate"
  .tab-pane#info
    %h3 Edit Group Info
    = render :partial => 'form'