- content_for :head do
  %title #{@group.name}'s Dashboard - Revolving Chore
  %meta{:name => "description", :content => "RevolvingChore is a fully automated chore chart substitute that comes complete with punishments, trading, and much more!"}
= render :partial => 'layouts/alerts'
.page-header
  %h1
    #{@group.name}
    %small
      Dashboard
      = link_to "Edit Group", edit_group_path(@group.id), :class => "btn btn-primary"
.row
  .span4
    %ul.thumbnails
      %li
        .thumbnail
          %h5 Chores Completed by Week
          %canvas#lineGraph{:height => "150", :width => "280"}
      %li
        .thumbnail
          %h5 Chores Completed by Person (%)
          %canvas#radarGraph{:height => "250", :width => "280"}
      %li
        .thumbnail
          %h5 How Often Each Chore is Completed
          %canvas#barGraph{:height => "300", :width => "280"}
  .span8
    .row
      - if @recently_completed_chores
        %h3 Notifications
        %table.table.table-striped.table-condensed
          - @recently_completed_chores.each do |chore|
            %tr
              %td
                %strong
                  #{chore.username} 
                recently completed #{chore.name}.
              %td{:style => "width:250px"}
                = render :partial => 'ratings/form', :locals => {:group => @group, :chore => chore}
      - if @pending_trades
        %h3 Pending Trades
        %table.table.table-striped.table-condensed
          - @pending_trades.each do |trade|
            %tr
              %td
                %strong
                  #{trade.from_user_name} 
                proposed trading #{trade.from_chore_name} for #{trade.to_chore_name} (#{trade.to_user_name})
              %td{:style => "width:180px"}
                - if trade.from_user_id == @current_user.id
                  = link_to "Retract Trade", retract_group_assigned_chore_trade_path(@group.id,trade.from_chore_id,trade.id), "data-method" => "post", "data-confirm" => 'Are you sure?', :class => 'btn btn-mini btn-danger ajaxCandidate pull-right'
                - elsif trade.to_user_id == @current_user.id
                  = link_to "Accept Trade", accept_group_assigned_chore_trade_path(@group.id,trade.from_chore_id,trade.id), "data-method" => "post", "data-confirm" => 'Are you sure?', :class => 'btn btn-mini btn-success ajaxCandidate pull-right', :style => "margin-left:5px"
                  = link_to "Decline Trade", decline_group_assigned_chore_trade_path(@group.id,trade.from_chore_id,trade.id), "data-method" => "post", "data-confirm" => 'Are you sure?', :class => 'btn btn-mini btn-danger ajaxCandidate pull-right'
      .row
        .span5
          %h3 Upcoming Chores
        .span3{:style => "margin-top:30px;"}
          = link_to "History",chore_history_group_path(@group), :class => "pull-right" 
      %table.table.table-striped.table-bordered.table-condensed
        %tr
          %th Chore
          %th Person
          %th Due Date
          %th Status
        - if @current_chores
          - @current_chores.each do |chore|
            %tr
              %td
                = chore.name
                - if chore.user_id == @current_user.id && chore.status == 'Not Completed' && @group.possible_chore_trades(@current_user).length > 0
                  = link_to "Trade", new_group_assigned_chore_trade_path(@group.id,chore.id), :class => 'pull-right btn btn-mini btn-info modalCandidate'
              %td
                = chore.username
              %td
                = chore.due_date
              %td
                - unless chore.status == "Completed"
                  = link_to chore.status, complete_group_assigned_chore_path(chore.group_id,chore.id), "data-method" => "post", "data-confirm" => 'Are you sure?', :class => 'btn btn-mini btn-danger ajaxCandidate'
                - else
                  = link_to chore.status, uncomplete_group_assigned_chore_path(chore.group_id,chore.id), "data-method" => "post", "data-confirm" => 'Are you sure?', :class => 'btn btn-mini btn-success ajaxCandidate'
        - else 
          -@users.each do |user|
            %tr
              %td
              %td
                = user.username
              %td
              %td
                %span.label.label-important
    .row
      .span2.offset2
        = link_to "Invite a Friend", new_group_invitation_path(@group), :class => "btn btn-primary modalCandidate"
      .span2.offset1
        = link_to "Add a Chore", new_group_chore_path(@group), :class => "btn btn-primary modalCandidate"
    .row
      %h3 Chore Chart  
      .div 
        = raw(event_calendar)
  / /container
  /
    Le javascript
    \==================================================
  / Placed at the end of the document so the pages load faster
  :javascript
    lineData = #{@group_chores_completed_by_week.map {|x| x.count.to_i}};
    lineDataMax = Math.max.apply(Math, lineData);
    var lineChartData = {
            labels : #{@group_chores_completed_by_week.map {|x| x.date.to_date.strftime("%B %d").to_s }},
            datasets : [
                    {
                            fillColor : "rgba(96,247,66,0.5)",
                            strokeColor : "rgba(96,247,66,1)",
                            pointColor : "rgba(96,247,66,1)",
                            pointStrokeColor : "#fff",
                            data : lineData
                    }
            ]
            
    }
    var lineChartOptions = {
            scaleOverride : true,
            scaleStepWidth: 1,
            scaleStartValue : 0,
            scaleSteps : lineDataMax,
            displayNoDataMsg : true,
            noDataMsg : "No data yet!",
    }
    new Chart(document.getElementById("lineGraph").getContext("2d")).Line(lineChartData, lineChartOptions);

    var radarChartData = {
            labels : #{@group_percentage_chores_completed_by_user.map(&:username)},
            datasets : [
                    {
                            fillColor : "rgba(248,54,47,0.5)",
                            strokeColor : "rgba(248,54,47,1)",
                            pointColor : "rgba(248,54,47,1)",
                            pointStrokeColor : "#fff",
                            data : #{@group_percentage_chores_completed_by_user.map(&:percent)}
                    }
            ]
    }
    var radarChartOptions = {
            scaleShowLabels : true,
            scaleOverride : true,
            scaleSteps : 5,
            scaleStepWidth : 20,
            scaleStartValue : 0,
            labelTruncate : true,
            displayNoDataMsg : true,
            noDataMsg : "No data yet!",
    }
    new Chart(document.getElementById("radarGraph").getContext("2d")).Radar(radarChartData, radarChartOptions);
    
    var barChartData = {
      labels : #{@group_percentage_completed_by_chore.map { |x| x.name.to_s }},
      datasets : [
        {
          fillColor : "#69D2E7",
          strokeColor : "#5AB5C7",
          data : #{@group_percentage_completed_by_chore.map { |x| x.percent.to_i }}
        }
      ]
    }
    
    var barChartOptions = {
      	    scaleOverride : true,
            scaleSteps : 10,
            scaleStartValue : 0,
            scaleStepWidth : 10,
            displayNoDataMsg : true,
            noDataMsg : "No data yet!",
    }
    new Chart(document.getElementById("barGraph").getContext("2d")).Bar(barChartData, barChartOptions);
