= form_for @user, :html => { :class => 'form-horizontal span8' } do |f|
  .control-group
    = f.label :username, "Name", :class => 'control-label'
    .controls
      = f.text_field :username, :class => 'text_field'    
  .control-group
    = f.label :notification_method, :class => 'control-label'
    .controls
      %label.checkbox
        = f.check_box :email_notification, {:class => 'check_box parent'}
        Email
      .child{:class => ("hide" unless @current_user.email_notification)}
        .control-group
          = f.label :email, "Email Address", :class => 'control-label'
          .controls
            = f.text_field :email, :class => 'text_field'
      %label.checkbox
        = f.check_box :sms_notification, {:class => 'check_box parent'}
        SMS
      .child{:class => ("hide" unless @current_user.sms_notification)}
        .control-group
          = f.label :phone_number, "Phone Number", :class => 'control-label'
          .controls
            = f.text_field :phone_number, :class => 'text_field' # 'bfh-phone', "data-format" => "+1 (ddd) ddd-dddd"
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to "Cancel", :back, :class => 'btn'
