.page-header
  %h1 Your Chore History
  %table.table.table-striped.table-bordered.table-condensed
    %tr
      %th Due Date
      %th Chore
      %th Group
      %th Status
    - if @chore_history
      - @chore_history.each do |chore|
        %tr
          %td
            = chore.due_date
          %td
            = chore.name
          %td
            = chore.group_name
          %td
            - if chore.status == "Completed"
              %span.label.label-success #{chore.status}
            - else
              %span.label.label-important #{chore.status}
