- content_for :head do
  %title #{@current_user.username}'s Dashboard - Revolving Chore
  %meta{:name => "description", :content => "RevolvingChore is a fully automated chore chart substitute that comes complete with punishments, trading, and much more!"}
= render :partial => 'layouts/alerts'
.page-header
  %h1
    #{@current_user.username}
    %small
      Dashboard
.row
  .span4
    %ul.thumbnails
      %li
        .thumbnail
          %h5 Chores Completed by Week
          %canvas#lineGraph{:height => "150", :width => "280"}
      %li
        .thumbnail
          %h5 Chores Completed by Group (%)
          %canvas#barGraph{:height => "250", :width => "280"}
  .span8
    .row
      - if @pending_trades
        %h3 Your Pending Trades
        %table.table.table-striped.table-condensed
          - @pending_trades.each do |trade|
            - if trade.from_user_id == @current_user.id
              - trade.from_user_name = 'You'
            - if trade.to_user_id == @current_user.id
              - trade.to_user_name = 'You'
            %tr
              %td
                %strong
                  = trade.from_user_name 
                proposed trading #{trade.from_chore_name} for #{trade.to_chore_name} (#{trade.to_user_name})
              %td{:style => "width:180px"}
                - if trade.from_user_id == @current_user.id
                  = link_to "Retract Trade", retract_group_assigned_chore_trade_path(trade.group_id,trade.from_chore_id,trade.id), "data-method" => "post", "data-confirm" => 'Are you sure?', :class => 'btn btn-mini btn-danger ajaxCandidate pull-right'
                - elsif trade.to_user_id == @current_user.id
                  = link_to "Accept Trade", accept_group_assigned_chore_trade_path(trade.group_id,trade.from_chore_id,trade.id), "data-method" => "post", "data-confirm" => 'Are you sure?', :class => 'btn btn-mini btn-success ajaxCandidate pull-right', :style => "margin-left:5px"
                  = link_to "Decline Trade", decline_group_assigned_chore_trade_path(trade.group_id,trade.from_chore_id,trade.id), "data-method" => "post", "data-confirm" => 'Are you sure?', :class => 'btn btn-mini btn-danger ajaxCandidate pull-right'
      .row
        .span5
          %h3 My To Do List
        .span3{:style => "margin-top:30px;"}
          = link_to "History",chore_history_user_path(@current_user), :class => "pull-right"   
      %table.table.table-striped.table-bordered.table-condensed
        %tr
          %th Chore
          %th Group
          %th Due Date
          %th Status
        - if @current_chores
          - @current_chores.each do |chore|
            %tr
              %td
                = chore.name
                - if chore.status == 'Not Completed' && chore.group.possible_chore_trades(@current_user).length > 0
                  = link_to "Trade", new_group_assigned_chore_trade_path(chore.group_id,chore.id), :class => 'pull-right btn btn-mini btn-info modalCandidate'
              %td
                = chore.group_name
              %td
                = chore.due_date
              %td
                - unless chore.status == "Completed"
                  = link_to chore.status, complete_group_assigned_chore_path(chore.group_id,chore.id), "data-method" => "post", "data-confirm" => 'Are you sure?', :class => 'btn btn-mini btn-danger ajaxCandidate'
                - else
                  = link_to chore.status, uncomplete_group_assigned_chore_path(chore.group_id,chore.id), "data-method" => "post", "data-confirm" => 'Are you sure?', :class => 'btn btn-mini btn-success ajaxCandidate'
    .row
      %h3 This Month's Chores       
      .div 
        = raw(user_event_calendar)
  /
    Le javascript
    \==================================================
  / Placed at the end of the document so the pages load faster
  :javascript
    lineData = #{@user_chores_completed_by_week.map {|x| x.count.to_i}};
    lineDataMax = Math.max.apply(Math, lineData);
    var lineChartData = {
            labels : #{@user_chores_completed_by_week.map {|x| x.date.to_date.strftime("%B %d").to_s }},
            datasets : [
                    {
                            fillColor : "rgba(248,54,47,0.5)",
                            strokeColor : "rgba(248,54,47,1)",
                            pointColor : "rgba(248,54,47,1)",
                            pointStrokeColor : "#fff",
                            data : lineData
                    }
            ]
            
    }
    var lineChartOptions = {
            scaleOverride : true,
            scaleStepWidth: 1,
            scaleStartValue : 0,
            scaleSteps : lineDataMax,
            displayNoDataMsg : true,
            noDataMsg : "No data yet!",
    }
    new Chart(document.getElementById("lineGraph").getContext("2d")).Line(lineChartData, lineChartOptions);

    var barChartData = {
      labels : #{@user_percentage_chores_completed_by_group.map {|x| x.group_name}},
      datasets : [
        {
          fillColor : "#69D2E7",
          strokeColor : "#5AB5C7",
          data : #{@user_percentage_chores_completed_by_group.map { |x| x.percent.to_i }}
        }
      ]
    }
    var barChartOptions = {
            scaleOverride : true,
            scaleSteps : 10,
            scaleStartValue : 0,
            scaleStepWidth : 10,
            displayNoDataMsg : true,
            noDataMsg : "No data yet!",
    }
    new Chart(document.getElementById("barGraph").getContext("2d")).Bar(barChartData, barChartOptions);
    
