- content_for :head do
  %title How this works - Learn to make chores simple
  %meta{:name => "description", :content => "Revolving Chore is a fully automated chore chart substitute that comes complete with punishments, trading, and much more!"}
%body
  .container
    .page-header
      %h1 How this works
    .row
      .span6
        =image_tag "monitor_with_dashboard.png"
      .span6{:style => "padding-top:75px;"}
        %h3 Make Chores Simple
        %p Revolving Chore simplifies the way you do chores at your house, workplace, or secret underground lair. Just create a group (i.e. "Dr. Horrible's Lab"), add your chores, invite your friends/minions, and let us handle the rest. Once you finish the short setup process, the system will automatically assign chores to each member of your group. At the end of the chore period, everything shuffles and everyone gets a new chore for the next time around.
    .row
      .span6
        %h3 Enforce It
        %p "But what if people don't do their chores? What then?" We're glad you asked -- that's where it gets fun. Since users sign in through Facebook and Twitter, you can set a default message to tweet or post on the Facebook wall of anyone who doesn't mark their chore completed by the deadline. It only takes one or two mornings waking up to see your own status read "I didn't do my chore this week because I am a TERRIBLE SLACKER" before getting chores done on time seems a lot more important.
