- content_for :head do
  %title Revolving Chore - Automate your chore chart experience
  %meta{:name => "description", :content => "Revolving Chore is a fully automated chore chart substitute that comes complete with punishments, trading, and much more!"}
%body
  .container
    .div.home_page_slide_show
      .home_page_slide_show_panes
        .home_page_slide_show_pane.selected_pane#pane0
        .home_page_slide_show_pane#pane1
        .home_page_slide_show_pane#pane2
      .home_page_slide_show_pane_indicators
        .pane_indicator.selected_pane_indicator.i.icon-star#indicator0
        .pane_indicator.i.icon-star#indicator1
        .pane_indicator.i.icon-star#indicator2
    .row.home_page_info
      .span4
        %h2 Chores
        %p Making chore charts and assigning chores can be a hassle...but it doesn't have to be. Just plug in some basic info and we'll do the rest. After all, you've got enough to do as it is -- why let it take longer than it should?
      .span4
        %h2 Charts
        %p Think someone's been slacking off? Now you've got proof! We track chore completion and display it with awesome graphs. Maybe it's a bit over the top, but who doesn't love good analytics? 
      .span4
        %h2 Accountability
        %p Nothing motivates quite like the threat of public shaming. Set a custom message and we'll post it as a tweet or Facebook status whenever someone in your house fails to complete his or her chore.   