%body
  .container
    %h1 Sign in to Revolving Chore
    = link_to "/auth/facebook", :class => "btn" do
      = image_tag "facebook_logo.png"
      Sign in with Facebook
    = link_to "/auth/twitter", :class => "btn" do
      = image_tag "twitter_logo.png"
      Sign in with Twitter