= form_for :rating, :url => upsert_group_assigned_chore_ratings_path(group,chore), :html => { :class => 'form-inline', :style => "margin:0"} do |f|
  %strong
    Rate this chore:
  .star{:style => "display:inline-block", "data-score" => chore.rating(@current_user)}
    Enable Javascript!
  = f.submit nil, :class => 'hide'
  = link_to "×", archive_group_assigned_chore_ratings_path(group,chore), {:class => "close ajaxCandidate", :type => "button", "data-method" => "post"}