= form_for [@group, @invitation], :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :invitee_name, :class => 'control-label'
    .controls
      = f.text_field :invitee_name, :class => 'text_field'
  .control-group
    = f.label :email, :class => 'control-label'
    .controls
      = f.text_field :email, :class => 'text_field'  
  .form-actions
    = f.submit "Send Invitation", :class => 'btn btn-primary'
    - unless request.xhr?
      = link_to "Cancel", :back, :class => 'btn'
    - else
      %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close