// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home_page_image {
	background-image: url("RevolvingChoreHomePage.png");
	height: 447px;
	width: 940px; 
}

.learn_more {
		position: relative;
		left: 700px;
		top: 350px;
}

.home_page_info {
	padding-top: 30px;
	padding-bottom: 30px;
}





.home_page_slide_show {
	height: 447px;
	width: 940px; 
	margin-top: 25px;
}

.home_page_slide_show_pane {
	height: 447px;
	width: 940px;
	display: none;
}

.selected_pane {
	display: block;
}

.home_page_slide_show_pane_indicators {
	position:relative;
	text-align: center;
	top: -50px;
}

.pane_indicator {
	opacity: .4;
	z-index: 1;
}

.pane_indicator:hover {
	opacity: 1;
	z-index: 1;
}

.selected_pane_indicator {
	opacity: 1;
}
#pane0 {
	/*display: none;*/
	background-image: url("RevolvingChoreHomePage.png");	
}

#pane1 {
	background-image: url("GroupEditPage.png");
}

#pane2 {
	background-image: url("GroupDashboard.png");
}







