= form_for [@group, @chore], :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label :description, :class => 'control-label'
    .controls
      = f.text_area :description, :class => 'text_area span4', :rows => 5
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    - unless request.xhr?
      = link_to "Cancel", edit_group_path(@group.id), :class => 'btn'
    - else
      %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
  
