= form_for [:group, :assigned_chore, @trade], :html => { :class => 'form-horizontal span8', :style => "width:500px" } do |f|
  .control-group
    = f.label :from_chore_name, "Trade this", :class => 'control-label'
    .controls
      %span.input-xlarge.uneditable-input
        = @from_chore.name
  .control-group  
    = f.label :to_chore_id, "For", :class => 'control-label'
    .controls
      - @possible_chore_trades.each do |chore|
        %label.radio
          = f.radio_button :to_chore_id, chore.id
          #{chore.name} - (#{chore.username})
  .form-actions
    = f.submit "Initiate Trade", :class => 'btn btn-primary'
    - unless request.xhr?
      = link_to "Cancel", :back, :class => 'btn'
    - else 
      %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close