- if(flash[:notice])
  .alert.alert-success
    %button.close{"type" => "button", "data-dismiss" => "alert"} &times;
    = flash[:notice]
- elsif(flash[:error])
  .alert.alert-error
    %button.close{"type" => "button", "data-dismiss" => "alert"} &times;
    = flash[:error]