= link_to 'Revolving Chore', user_path(@current_user.id), :class => "brand"
.nav-collapse.collapse
  %ul.nav
    %li{:class => (params[:controller] == "users" && params[:action] == "show" ? "active" : "")}
      = link_to user_path(@current_user.id) do
        %i.icon-home.icon-white
        Home
    - unless @current_user.groups.count == 0
      %li{:class => "dropdown #{params[:controller] == 'groups' ? 'active' : ''}"}
        %a{:class => "dropdown-toggle", :href => "#", "data-toggle" => "dropdown"}
          %i.icon-briefcase.icon-white 
          My Groups
          %b.caret
        %ul.dropdown-menu
          - @current_user.groups.each do |group|
            %li 
              = link_to group.name, group_path(group.id)
          %li.divider
          %li 
            = link_to new_group_path do
              %i.icon-plus-sign
              Create a Group
    - else
      %li{:class => "dropdown #{params[:controller] == "groups" ? "active" : ""}"}
        = link_to 'Create a Group', new_group_path    
  %ul.nav.pull-right 
    %li{:class => "dropdown #{params[:controller] == 'users' && params[:action] == 'edit' ? 'active' : ''}"}
      %a{:class => "dropdown-toggle", :href => "#", "data-toggle" => "dropdown"} 
        %i.icon-user.icon-white
        Account
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to edit_user_path(@current_user.id) do
            %i.icon-cog
            Settings
        %li
          = link_to logout_path do
            %i.icon-share-alt
            Log Out