= link_to 'Revolving Chore', home_index_path, :class => "brand"
.nav-collapse.collapse
  %ul.nav
    %li{:class => (params[:action] == "index" ? "active" : "")}
      = link_to 'Home', home_index_path
    %li{:class => (params[:action] == "about" ? "active" : "")}
      = link_to 'How this works', home_how_this_works_path
    -# %li{:class => (params[:action] == "faq" ? "active" : "")}
      -# = link_to 'FAQ', home_faq_path
  %ul.nav.pull-right 
    %li.dropdown
      %a{:class => "dropdown-toggle", :href => "#", "data-toggle" => "dropdown"} 
        Sign In
        %b.caret
      %ul.dropdown-menu
        - if @current_env == "development"
          %li
            = link_to "Sign in as developer","/auth/developer"
        %li
          = link_to "/auth/facebook" do
            = image_tag "facebook_logo.png"
            Sign in with Facebook
            
        %li
          = link_to "/auth/twitter" do
            = image_tag "twitter_logo.png"
            Sign in with Twitter
            