!!!
%html
  %head
    - if content_for? :head
      = yield :head
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application" 
    = csrf_meta_tags
    = favicon_link_tag "favicon.ico"
  %body.lightblue
    #background-gradient
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
            %a.brand
          - if @current_user
            = render :partial => "/layouts/login_nav"
          - else
            = render :partial => "/layouts/logout_nav"
          / /.nav-collapse
    .container#main
      = yield
    %hr
      .container
        .footer
          =image_tag "LH_Logo3.png"
          %span © Lloyd House Studios 2013  

-if ENV["RACK_ENV"] == "production"
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-41458106-1', 'revolvingchore.com');
    ga('send', 'pageview');
